<ion-header class="home-mw">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="postmyfood"></ion-back-button>
    </ion-buttons>
    <ion-title>Food Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!-- Textarea in an item with a floating label -->
  <ion-item class="home-mw">
    <ion-label position="floating">Food Title</ion-label>
    <ion-input></ion-input>
  </ion-item>
  <ion-item class="home-mw">>
    <ion-label position="floating">Description</ion-label>
    <ion-textarea></ion-textarea>
  </ion-item>


  <ion-grid class="home-mw">
    <ion-row>
      <ion-col>
        <ion-card>
          <ion-card-header>
            <ion-card-title>Upload Food Picture</ion-card-title>
          </ion-card-header>

          <ion-card-content>

            <img style="width: 50px;" src="/assets/icon/_ionicons_svg_md-cloud-upload.svg">
          </ion-card-content>
        </ion-card>
      </ion-col>


      <ion-col>

        <ion-card class="home-mw">
          <ion-card-header>
            <ion-card-title>Number of Servings</ion-card-title>
          </ion-card-header>

          <ion-card-content>
            <ion-input type="number" value="5"></ion-input>
          </ion-card-content>
        </ion-card>
      </ion-col>



    </ion-row>
  </ion-grid>

  <!-- Default Segment -->
  <ion-segment class="home-mw">
    <ion-segment-button value="friends">
      <ion-label>Pick-up only</ion-label>
    </ion-segment-button>
    <ion-segment-button value="enemies">
      <ion-label>Deliver</ion-label>
    </ion-segment-button>
  </ion-segment>

</ion-content>

<ion-footer class="home-mw">

  <ion-toolbar>
    <ion-title>


      <ion-button expand="full">Publish</ion-button>

    </ion-title>
  </ion-toolbar>
</ion-footer>



<div class="home-dw"
  style="position: fixed; z-index:  111000; top:0; left:0; width:100%; height:100%; overflow-y: scroll; background: #333;">


  <div style="width:100%; height: 90px; position: absolute; top:0; left:0;  z-index: 1000000;">
    <div class="flex-container">

        <div  [routerLink]="['/postmyfood']" routerDirection="forward" style="cursor: pointer;  text-align: left; font-size: 25px; padding: 10px; background: #fff;">
          &nbsp; &nbsp; Food<span style="color: darkgreen; ">Ali</span>
        </div>
      <div [routerLink]="['/profile']" style=" cursor: pointer; text-align: left; font-size: 25px; position: relative;">
        <div
          style="width: 100%; padding:0; line-height:0; padding-right:20px;  position: absolute; top: 50%;  transform: translateY(-50%);">

          <ion-icon class="icon" style="float: right; margin-top:5px; " name="contact"></ion-icon>

          <div style="clear: both;"></div>
        </div>


      </div>

    </div>


  </div>
  <br /><br /><br /><br />
  <ion-card style="background: #fff; margin: 120px;">
    <ion-card-header style="height: 100px;">
      <ion-tabs>

        <ion-tab-bar slot="top">


          <ion-tab-button tab="tab1" style="background:goldenrod !important;   color: white !important;">
            <ion-icon name="jet"></ion-icon>
            <ion-label>Poster</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="tab2" [routerLink]="['/manage']" routerDirection="forward">
            <ion-icon name="menu"></ion-icon>
            <ion-label>Manage</ion-label>
          </ion-tab-button>

          <ion-tab-button tab="tab2" [routerLink]="['/blacklist']" routerDirection="forward">
            <ion-icon name="hand"></ion-icon>
            <ion-label>Blacklist</ion-label>
          </ion-tab-button>
        </ion-tab-bar>
      </ion-tabs>


    </ion-card-header>

    <ion-card-content>
      <!--
            stepper ref : 
            https://devdactic.com/angular-material-ionic-4/ -->


      <!-- <button mat-raised-button (click)="isLinear = !isLinear" id="toggle-linear">
                {{!isLinear ? 'Enable linear mode' : 'Disable linear mode'}}
              </button> -->

      <div class="flex-container2">


        <div>

          <mat-vertical-stepper [linear]="isLinear" #stepper>
            <mat-step [stepControl]="eighthFormGroup">
              <form [formGroup]="eighthFormGroup" (ngSubmit)="zero()" #formone="ngForm">
                <ng-template matStepLabel>Which cuisine type your food belong to?</ng-template>
                <mat-form-field>
                  <input matInput placeholder="Cuisine type" formControlName="eighthCtrl" required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="firstFormGroup">
              <form [formGroup]="firstFormGroup" (ngSubmit)="form1()" #formone="ngForm">
                <ng-template matStepLabel>Fill your Dish name</ng-template>
                <mat-form-field>
                  <input matInput placeholder="Food title" formControlName="firstCtrl" required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="secondFormGroup">
              <form [formGroup]="secondFormGroup" (ngSubmit)="form2()" #formone="ngForm">
                <ng-template matStepLabel>Fill out your food description</ng-template>
                <mat-form-field>
                  <input matInput placeholder="Food description" formControlName="secondCtrl" required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>

            <mat-step [stepControl]="thirdFormGroup">
              <form [formGroup]="thirdFormGroup">
                <ng-template matStepLabel>Upload one picture for your food</ng-template><br />
                <!-- <button mat-button>BROWSE FILES</button> -->


              <!-- Use the following,  -->
                <!-- <input
                style="display: none"
                type="file" (change)="onFileChanged($event)"
                #fileInput>
              <button (click)="fileInput.click()">Select File</button>
              <button (click)="onUpload()">Upload!</button> -->

              <!-- or,  -->

              <div class="container mt-5 mb-5">
                <div class="row">
                  <div class="col-md-12">
                    <div class="form-group">
                      <div class="row">
                        <!-- <label class="col-sm-3 col-form-label" for="files">Documents</label> -->
                        <div class="col-sm-9">
                          <span class="hidden-file">
                            <input style="display:none;" type="file" #fileInput ng2FileSelect [uploader]="uploader" (onFileSelected)="onFileSelected($event)" />
                          </span>
                          <div class="btn-group" (click)="fileInput.click()">
                            <button type="button" class="btn btn-primary btn-group-icon btn-group-divider">
                                 <i class="ion-plus-round"></i>
                            </button>
                            <button type="button" class="btn btn-primary" mat-button>
                               BROWSE Image
                            </button>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                  <br/>
                  <div class="col-md-9 mt-5">
                    <table class="table">
                      <thead>
                        <tr>
                          <th>Name</th>
                          <th>Size</th>
                          <th>Actions</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr *ngFor="let item of uploader.queue">
                          <td>
                            {{ item?.file?.name }}
                          </td>
                          <td>
                            {{ item?.file?.size/1024/1024 | number:'.2' }} MB
                          </td>
                          <td>
                            <button type="button" class="btn btn-danger btn-xs" (click)="item.remove()" mat-button>
                       <span class="glyphicon glyphicon-trash"></span> 
                       Remove
                      </button>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <br/>
                </div>
              </div>

                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>


            <mat-step [stepControl]="fourthFormGroup">
              <form [formGroup]="fourthFormGroup" (ngSubmit)="form4()" #formone="ngForm">
                <ng-template matStepLabel>Provide number of servings</ng-template>

                <mat-form-field>
                  <input matInput type="number" placeholder="Number of servings" min="1" formControlName="fourthCtrl"
                    required>
                </mat-form-field>



                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>


            <mat-step [stepControl]="fifthFormGroup">
              <form [formGroup]="fifthFormGroup" (ngSubmit)="form5()" #formone="ngForm">
                <ng-template matStepLabel>Choose delivery option?</ng-template><br />

                <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style"
                  #foo="matButtonToggleGroup" formControlName="fifthCtrl" required>
                  <mat-button-toggle value="0">Pick-up only</mat-button-toggle>
                  <mat-button-toggle value="1">Home delivery</mat-button-toggle>
                </mat-button-toggle-group>


                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext >Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="sixthFormGroup">
              <form [formGroup]="sixthFormGroup" (ngSubmit)="form6()" #formone="ngForm">
                <ng-template matStepLabel>Choose your location</ng-template>
                <mat-form-field>
                  <input matInput placeholder="Search for location" formControlName="sixthCtrl" required>
                </mat-form-field>
                <div>
                  <button mat-button matStepperNext>Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step [stepControl]="seventhFormGroup">
              <form [formGroup]="seventhFormGroup" (ngSubmit)="form7()" #formone="ngForm">
                <ng-template matStepLabel>Is your recipe Veg?</ng-template><br />

                <mat-button-toggle-group appearance="legacy" name="fontStyle" aria-label="Font Style"
                  #foo="matButtonToggleGroup" formControlName="seventhCtrl" required>
                  <mat-button-toggle value="1">Yes</mat-button-toggle>
                  <mat-button-toggle value="0">No</mat-button-toggle>
                </mat-button-toggle-group>


                <div>
                  <button mat-button matStepperPrevious>Back</button>
                  <button mat-button matStepperNext >Next</button>
                </div>
              </form>
            </mat-step>
            <mat-step>
              <ng-template matStepLabel>Done</ng-template>
              You are now done.<br />
              <button mat-button (click)="createFoodcard()">POST MY FOOD CARD</button>
              <br />
              <div>
                <button mat-button matStepperPrevious>Back</button>
                <button mat-button (click)="stepper.reset()">Reset</button>
              </div>
            </mat-step>
          </mat-vertical-stepper>

        </div>
        <div>

          <ion-row>

            <ion-col>
              <ion-card style="background: #fff; ">
                <mat-progress-bar mode="indeterminate"></mat-progress-bar>


                <ion-card-header>

                  <img
                    src="https://www.mylands.com/media/wysiwyg/Colour_Palettes/Mylands_Grey_Palette_Main_Image_.jpg" />

                  <img class="veg" style="width: 20px !important; margin: 10px; float: right; display: none;"
                    src="https://cdn.iconscout.com/icon/premium/png-512-thumb/vegetarian-3-565377.png" />

                    <img class="nonveg" style="width: 20px !important; margin: 10px; float: right; display: none;"
                    src="https://www.trzcacak.rs/file/max/53/538140_non-veg-png.png" />
                    

                  <!-- <ion-card-subtitle>Cuisine type</ion-card-subtitle> -->
                  <ion-card-subtitle>{{Cuisinename}}</ion-card-subtitle>
                  <ion-card-title>{{Foodname}}</ion-card-title>
                  <ion-card-subtitle>{{Fooddesc}}</ion-card-subtitle>

                </ion-card-header>

                <ion-card-content>



                  <ion-badge color="success">
                    <ion-icon name="star"></ion-icon> 5.0
                  </ion-badge>
                  <ion-badge style="margin-left:10px " color="primary">
                    <ion-icon name="bicycle"></ion-icon> {{deliverytype}}
                  </ion-badge><br />
                  <b> {{servings}} number of servings</b>
                  <br />
{{wlocation}}

                </ion-card-content>
                <ion-footer>
                  <ion-toolbar>

                    <ion-grid>
                      <ion-row>

                        <ion-col style="text-align: center;">
                          <ion-icon name="share"></ion-icon>
                        </ion-col>

                        <ion-col (click)="goFoodInfo()" style="text-align: center; cursor: pointer">

                          <ion-icon name="eye"></ion-icon>

                        </ion-col>

                      </ion-row>

                    </ion-grid>




                  </ion-toolbar>
                </ion-footer>
              </ion-card>

            </ion-col>
          </ion-row>

        </div>

      </div>
      <br />
      <br />

    </ion-card-content>


  </ion-card>

  <div style="width: 100%; height:450px; background: rgb(56, 40, 9); color: honeydew">
    <div class="flex-container">

      <div class="foo">
        <br />
        <ion-text style="text-align: left">
          <h3>About Foodali</h3>
        </ion-text>
        <p class="listing-foo">About us</p>
        <p class="listing-foo">Team</p>
        <p class="listing-foo">Careers</p>
        <p class="listing-foo">Offers</p>
        <p class="listing-foo">Contact</p>
      </div>
      <div class="foo">
        <br />
        <ion-text style="text-align: left">
          <h3>Get Help</h3>
        </ion-text>
        <p class="listing-foo">Help and support</p>
        <p class="listing-foo">Partner with us</p>
        <p class="listing-foo">Ride with us</p>
        <p class="listing-foo">Blog</p>
      </div>
      <div class="foo">
        <br />
        <ion-text style="text-align: left">
          <h3>Get FoodAli in your phone</h3>
        </ion-text>
        <img style="margin-top: 10px; float:left; margin-right: 10px;" width="150px;"
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_108/play_ip0jfp" />

        <img style="margin-top: 10px; float:left; " width="150px;"
          src="https://res.cloudinary.com/swiggy/image/upload/fl_lossy,f_auto,q_auto,h_108/iOS_ajgrty" />

      </div>

    </div>
  </div>
  <ion-footer style="background: rgb(20, 20, 20); text-align:center">
    <ion-toolbar>
      <ion-title>Copyright 2019, Foodali inc.
      </ion-title>
    </ion-toolbar>
  </ion-footer>

</div>