<ion-header>
  <ion-toolbar>
    <ion-title>
      <div style="font-size: 25px; width:100%; text-align:center; margin:10px;">FoodAli<span style="font-size: 10px;">search</span></div>
      <!-- Searchbar with a cancel button and custom cancel button text -->
      <ion-searchbar  #q value="{{searchedFor}}" placeholder="Search for food" (ionCancel)="onCancel($event)" showCancelButton="focus" cancelButtonText="Custom Cancel" (keyup.enter)="search(q.value)"></ion-searchbar>
<!--   
      <ion-searchbar   [value]="selectedDish" placeholder="Search for food..." showCancelButton="focus" (ionCancel)="onCancel($event)"  cancelButtonText="Custom Cancel"   "></ion-searchbar> -->

      <br/>  
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-row style="margin: 0px 100px 100px 100px">
        <ion-col size="3">
            <ion-card style="background: #fff">
 
  <ion-col size="3">
      <div class="menu" >
       
          <ion-item color="primary" href="#!" class="activated">
            <ion-icon name="flame" slot="start"></ion-icon>
            <ion-label>Popular</ion-label>
          </ion-item> 


          <ion-item href="#!">
            <ion-icon name="heart-half" slot="start"></ion-icon>
            <ion-label>Your Favorites</ion-label>
          </ion-item>

          <ion-item href="#!">
            <ion-icon name="pie" slot="start"></ion-icon>
            <ion-label>Vegetarian</ion-label>
          </ion-item>

          <ion-item href="#!" class="activated">
              <ion-icon name="restaurant" slot="start"></ion-icon>
            <ion-label>Cuisine</ion-label>
          </ion-item>

          <ion-item href="#!">
            <ion-icon name="more" slot="start"></ion-icon>
            <ion-label>More Options</ion-label>
          </ion-item>
          

      </div>
  
    </ion-col>
              </ion-card>
        </ion-col>
        <ion-col>
            <ion-card style="background: #fff">
     
              
                <ion-card-content>
              
                    <ion-list>
         
                        <ion-item-sliding *ngFor="let d of dish">
    
                            <div *ngIf="d.publishStatus == true">
                            <ion-item>
                              <ion-thumbnail slot="start">
                                <img style="width: 200px;"
                                  src="https://www.bbcgoodfood.com/sites/default/files/recipe-collections/collection-image/2013/05/huevos-rancheros.jpg" />
                              </ion-thumbnail>
                              
                              <ion-label>{{d.dishName}}</ion-label><br />
              
                            </ion-item>
                            <div style="margin: 10px 90px 10px 90px">
                              <ion-badge color="primary">{{d.cuisine}}</ion-badge> <br />
                              <ion-icon name="star"></ion-icon> 5.0
                              &nbsp; <br />
              
              
                              <b>{{d.noOfServings}} servings </b> &nbsp; <br />
                              {{d.foodDescription}}
                              <hr/>
                              {{d.address}}
                            </div>
                            <ion-item side="end">
                              <ion-item slot="end">
                        
                                  <ion-button color="dark" (click)="goFoodInfo(d.id)">View</ion-button>
                            
              
              
                              </ion-item>
                            </ion-item>
                            </div>
                          </ion-item-sliding>
              
        
                      </ion-list>
                 
                  
                </ion-card-content>
              </ion-card>
        </ion-col>
      </ion-row>
</ion-content>
